.player-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player-view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .current-room {
    border: 1px solid black;
    height: 450px;
    width: 500px;
  }
  .map {
    border: 1px solid black;
    height: 450px;
    width: 500px;
  }
}
